profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'general'  // Adjust this if needed
        process.cpus = 8
        process.memory = '10GB'
        process.time = '72h'

        params.conda = "/N/u/sidrajes/Quartz/.conda/envs/nf_env"
    }

    standard {
        process.executor = 'local'
    }
}