profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'general'
            clusterOptions = '-A r00750'  // Apply account to ALL processes
            
            // Default resources for most processes
            cpus = 4
            memory = '16.GB'
            time = '12.h'
            
            // Specific resources for your processes
            withName: 'VariantCalling' {
                cpus = 8
                memory = '32.GB'
                time = '24.h'
            }
            
            withName: 'Quality_Control_Raw' {
                cpus = 2
                memory = '8.GB'
                time = '4.h'
            }
            
            withName: 'Quality_Control_Trimmed' {
                cpus = 2
                memory = '8.GB'
                time = '4.h'
            }
            
            withName: 'TrimReads' {
                cpus = 4
                memory = '16.GB'
                time = '8.h'
            }
            
            withName: 'AlignReads' {
                cpus = 16
                memory = '64.GB'
                time = '12.h'
            }
            
            withName: 'Minimap_Index' {
                cpus = 4
                memory = '16.GB'
                time = '2.h'
            }
            
            withName: 'Index_Reference' {
                cpus = 2
                memory = '8.GB'
                time = '2.h'
            }
            
            withName: 'MarkDuplicates' {
                cpus = 8
                memory = '32.GB'
                time = '12.h'
            }
            
            withName: 'VCFStats' {
                cpus = 2
                memory = '8.GB'
                time = '2.h'
            }
            
            withName: 'Filter_Variants' {
                cpus = 4
                memory = '16.GB'
                time = '6.h'
            }

            withName: 'AnnotateVariants' {
                cpus = 4
                memory = '16.GB'
                time = '4.h'
            }
        }
        
        // Conda configuration
        conda.enabled = true
        conda.cacheDir = "/N/u/sidrajes/Quartz/.conda/envs"
        
        // Global SLURM options for all processes
        executor.queueSize = 50
        executor.submitRateLimit = '10 sec'
        
        // Work directory on scratch if available
        workDir = '/N/project/Krolab/Siddharth/Personal/DNA-seq/work'
        
        // Cleanup options
        cleanup = false  // Keep work files for debugging
    }

    standard {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '8.GB'
    }
}